@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding-top: 15%;
  font-family: 'Roboto', sans-serif;
}

html,body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.trans-color {
  transition: 750ms linear;
  transition-property: all;
}




.quote-box {
  background-color: whitesmoke;
  width: 500px;
  height: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 2px 2px 2px black;
}

button {
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px;
  float: right;
}

button:hover {
  cursor: pointer;
}

button:visited {
  border: none;
}

.text {
  padding-bottom: 1rem;
  text-align: start;
  font-weight: 500;
}

#author {
  padding-bottom: 5rem;
  font-size: .95rem;
  
}



#tweet-quote {
  float: left;
  background-color: #1da1f2;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: .8rem;

}


.text::before {
  content: open-quote;
  font-weight: bold;
  padding: 2px;


}

.text::after {
  content: close-quote;
  font-weight: bold;
  padding: 2px;
}
